{% extends "layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 50px">
        <h2>Services: {{ service_name }}</h2>
        {% for i in data %}
            {% if i['What'] != 'Unknown' %}
            <div class="row" style="margin-top: 30px">
                <div class="col">
                    <p><b>{{ i['Name'] }} ({{ i['Type'] }})</b>
                        <a href="{{ url_for('addFavorite', service_id=i['id_'], service_name=i['Type']) }}">
                            <span class="heart"><i class="fa fa-heart-o" aria-hidden="true" ></i></span>
                        </a></p>
{#                        <a href="{{ url_for('addFavorite', service_id=i['id_'], service_name=i['type']) }}" class="btn btn-info">Like</a></p>#}
                    <p><b>Description</b>: {{ i['What'] }}</p>
                    <p><b>Rating</b>: {{ i['meanRating'] }}</p>
                    <a href="{{ url_for('detailedInfo', service_id=i['id_'], servicename=service_name) }}" class="btn btn-info">More Information</a>
                </div>
            </div>
            <hr>
            {% endif %}
        {% endfor %}
    </div>



{% endblock content %}



{#<div class="serviceDisplay">#}
{#    <table class="table">#}
{#    <thead class="thead-light">#}
{#    <tr>#}
{#      <th scope="col">Service</th>#}
{#      <th scope="col">Description</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for i in data %}#}
{#    {% if i['What'] != 'nan' %}#}
{#    <tr>#}
{#        <td>{{ i['Name'] }}</td>#}
{#        <td>{{ i['What'] }}</td>#}
{#        <td><a href="{{ url_for('detailedInfo', service_id=i['_id'], servicename=service_name) }}" class="btn btn-danger">More Information</a></td>#}
{#    </tr>#}
{#    {% endif %}#}
{#    {% endfor %}#}
{#    </tbody>#}
{#    </table>#}
{#</div>    #}

{#<form method="POST" action="">#}
{#                            {{ form.hidden_tag() }}#}
{#                            <fieldset class="form-group">#}
{#                                <div class="form-group">#}
{#                                    {{ form.favorite(class="form-control form-control-lg", id="favorite_ID") }}#}
{#                                </div>#}
{#                            </fieldset>#}
{#                            <div class="form-group">#}
{#                                {{ form.submit(class="btn btn-outline-info") }}#}
{#                            </div>#}
{#                        </form>#}


{#    <script>#}
{#        var favoriteID = document.getElementById('serviceid').innerHTML#}
{#        console.log(favoriteID)#}
{#        document.getElementById('favorite_ID').value = favoriteID;#}
{#    </script>#}