{% extends "layout.html" %}
{% block content %}
{#    <h1>About us</h1>#}
{#    <p>We are team Adroit. We are providing helps to women homeless who suffering financial abuse.</p>#}
{#    <h3>Team Description</h3>#}
    <div class="section" style="margin-top: 50px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2" data-aos="fade-up" data-aos-delay="100">
                    <figure class="img-dotted-bg">
                        <img src="{{ url_for('static', filename='img/hero_2.jpg') }}" alt="Image" class="img-fluid">
                    </figure>
                </div>
                <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
                    <h2 class="mb-4 section-title">What can we do?</h2>
                    <p>We are a group of 4 individuals collectively working to ease the way for domestic violence victims, especially female victims of the age 19-35 making the services more accessible more convenient. When you are in need of services, we provide the right available services which are free and nearby. These services include, accommodation, essential items, legal advice and a whole lot more. Finding those services more easily and making their life more convenient and bringing a ray of hope to their lives.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{#<div class="container" style="margin-top: 120px">#}
{#        <div class="row">#}
{#            <div class="col-sm-3" >#}
{#                <img src="/static/img/gaurav.jpg" class="center-block img-fluid"/>#}
{#                <p>Gaurav</p>#}
{#                <p>Major: Master of Business Information Systems(MBIS)</p>#}
{#                <p>Team Role: Business Analyst</p>#}
{#                <p>Technical Skills: User Interface, Designing</p>#}
{#                <p>Expertise (Expected to do): Develop Reports, Assign work</p>#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#                <img src="/static/img/lynn.jpg" class="center-block img-fluid"/>#}
{#                <p>Shiyao Liu (Lynn)</p>#}
{#                <p>Major: Master of Business Information Systems(MBIS)</p>#}
{#                <p>Team Role: UI and analyst</p>#}
{#                <p>Technical skills: UI design, write a report, PPT</p>#}
{#                <p>Expertise (Expected to do): Good at designing the user interface and analyzing problems.</p>#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#                <img src="/static/img/leno.jpg" class="center-block img-fluid"/>#}
{#                <p>Xiaomeng Huang (Leno)</p>#}
{#                <p>Major:Master of Data Science (MDS)</p>#}
{#                <p>Team Role: Data Science</p>#}
{#                <p>Technical skills: Machine learning, build statistic model, data cleaning/mining</p>#}
{#                <p>Expertise (Expected to do): Data Cleaning, Mining, analysis and building modes</p>#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#                <img src="/static/img/paul.jpg" class="center-block img-fluid"/>#}
{#                <p>Xuejin Huang (Paul)</p>#}
{#                <p>Major: Master of Information Technology (MIT)</p>#}
{#                <p>Team Role: Information technology</p>#}
{#                <p>Technical skills: Java, Python, R, HTML</p>#}
{#                <p>Expertise (Expected to do): Web Development</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#          <p>Our website for homeless women who experience financial abuse to provide some detailed information on accommodation, cheap food, essential items, and legal support services. Therefore, they can ask for help quickly and accurately.</p>#}
